<html>
    <head>
        <title>Stock</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        {% for product in object_list %}
            {{product}} - {{ product.quantidade}} em estoque
        <form method="POST" action="{% url 'add-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantidade" min="1"><br>
            <input type="submit" value="Adicionar ao Estoque">
        </form>
        <form method="POST" action="{% url 'remove-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantidade" min="1"><br>
            <input type="submit" value="Remover do Estoque">
        </form>

        {% endfor %}
    </div>
    </body>
</html>
